
@{
    ViewBag.Title = "Payroll Taxes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Page Header -->
<div class="page-header mb-2">
    <div class="row align-items-center">
        <div class="col-sm-12">
            <h3 class="page-title">Payroll Taxes</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item">Payroll Taxes</li>
            </ul>
        </div>
    </div>
</div>
<div>
    <a href="javascript:void(0);" id="filterShowHideBtn">Hide Filter(s)</a>
</div>
<div class="row filter-row" id="divFilter">
    <div class="col-sm-6 col-md-4 pr-0">
        <div class="form-group form-focus select-focus">
            @Html.DropDownList("CompanyId", null, "All", new { @class = "select floating searchableDDL", @id = "CompanyIdF" })
            <label class="focus-label">Company</label>
            @*@Html.DropDownList("CompanyId", null, "All", new { @class = "searchableDDL", @id = "CompanyIdF" })*@
        </div>
    </div>
    @{ var fromDD = ((int)ViewBag.PayrollTaxesFromDD)*-1;
        var toDD = ((int)ViewBag.PayrollTaxesToDD) ;
        
        }
    <div class="col-sm-4 col-md-2 pr-0">
        <div class="form-group form-focus select-focus">
            <input id="FromPayDate" type="datetime" class="form-control floating" value="@DateTime.Today.AddDays(fromDD)">
            <label class="focus-label">From Date</label>
        </div>
    </div>
    <div class="col-sm-4 col-md-2 pr-0">
        <div class="form-group form-focus select-focus">
            <input id="ToPayDate" type="datetime" class="form-control floating" value="@DateTime.Today.AddDays(toDD)">
            <label class="focus-label">To Date</label>
        </div>
    </div>

    <div class="col-sm-4 col-md-2 pr-0">
        <div class="form-group form-focus select-focus">
            @Html.DropDownList("FederalTaxDepositStatusId", null, "All", new { @class = "select floating", @id = "FederalTaxDepositStatusIdF" })
            <label class="focus-label">Fed Status</label>
        </div>
    </div>
    <div class="col-sm-4 col-md-2 pr-0">
        <div class="form-group form-focus select-focus">
            @Html.DropDownList("FederalTaxDepositScheduleId", null, "All", new { @class = "select floating", @id = "FederalTaxDepositScheduleIdF" })
            <label class="focus-label">Fed Schedule</label>
        </div>
    </div>
    <div class="col-sm-4 col-md-2 pr-0">
        <div class="form-group form-focus select-focus">
            @Html.DropDownList("HaciendaTaxDepositStatusId", null, "All", new { @class = "select floating", @id = "HaciendaTaxDepositStatusIdF" })
            <label class="focus-label">HACIENDA Status</label>
        </div>
    </div>
    <div class="col-sm-4 col-md-2 pr-0">
        <div class="form-group form-focus select-focus">
            @Html.DropDownList("HaciendaTaxDepositScheduleId", null, "All", new { @class = "select floating", @id = "HaciendaTaxDepositScheduleIdF" })
            <label class="focus-label">HACIENDA Schedule</label>
        </div>
    </div>
    <div class="col-sm-4 col-md-2 pr-0">
        <div class="form-group form-focus select-focus">
            @Html.DropDownList("FUTATaxDepositStatusId", null, "All", new { @class = "select floating", @id = "FUTATaxDepositStatusIdF" })
            <label class="focus-label">FUTA Status</label>
        </div>
    </div>
    <div class="col-sm-4 col-md-2 pr-0">
        <div class="form-group form-focus select-focus">
            @Html.DropDownList("FUTATaxDepositScheduleId", null, "All", new { @class = "select floating", @id = "FUTATaxDepositScheduleIdF" })
            <label class="focus-label">FUTA Schedule</label>
        </div>
    </div>

    @*<div class="col-md-8"></div>*@
    <div class="col-md-2">
        <a href="javascript:getPayrollTaxRecordList();" class="btn btn-success btn-block"> Apply Filter </a>
    </div>
</div>
<hr class="mt-1 mb-1" />

<div id="divLoadingPayroll" class="align-content-md-center">
    <img src="~/Content/Themes/assets/img/ajax-loading.gif" width="24" height="24" />
</div>

<h3> Payroll Tax List </h3>
<div id="divPayrollTaxListView">

</div>


<div id="divEditUploadPopup">
</div>
<script>
    $(document).ready(function () {
        $('#divLoadingPayroll').hide();
        $(".searchableDDL").select2();
        $(".select2-container").css("width", "100%");
        getPayrollTaxRecordList();
        $('#filterShowHideBtn').click(function () {
            debugger;

            switch ($(this).text()) {

                case 'Hide Filter(s)':
                    $('#divFilter').hide();
                    $('#filterShowHideBtn').text('Show Filter(s)')
                    break;
                case 'Show Filter(s)':
                    $('#divFilter').show();
                    $('#filterShowHideBtn').text('Hide Filter(s)')
                    break;
            }

        });
    });
    function getPayrollTaxRecordList() {
        $('#divLoadingPayroll').show();
        debugger;
        var obj = new Object();
        obj.CompanyId = $('#CompanyIdF').val();
        obj.FromPayDate = $('#FromPayDate').val();
        obj.ToPayDate = $('#ToPayDate').val();

        obj.FederalTaxDepositStatusId = $('#FederalTaxDepositStatusIdF').val();
        obj.FederalTaxDepositScheduleId = $('#FederalTaxDepositScheduleIdF').val();

        obj.HaciendaTaxDepositStatusId = $('#HaciendaTaxDepositStatusIdF').val();
        obj.HaciendaTaxDepositScheduleId = $('#HaciendaTaxDepositScheduleIdF').val();

        obj.FUTATaxDepositStatusId = $('#FUTATaxDepositStatusIdF').val();
        obj.FUTATaxDepositScheduleId = $('#FUTATaxDepositScheduleIdF').val();
        $.ajax({
            type: "POST",
            url: '/PayrollTaxManagement/IndexByFilter',
            data: JSON.stringify(obj),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                //debugger;
                //console.log(data);
                $("#divPayrollTaxListView").html(data);
                $('#divLoadingPayroll').hide();
            },
            error: function () {
                showAlertAutoHide("", "Error", data.ErrorMessage);
            }
        });
    }
    function AjaxEditTaxStatus(payrollId, statusTypeId) {
        debugger;
        $.ajax({
            type: "get",
            url: '/PayrollTaxManagement/AjaxEditTaxStatus',
            data: { "payrollId": payrollId, "statusTypeId": statusTypeId },

            success: function (data) {
                // debugger;
                //console.log(data);
                $("#divEditUploadPopup").html(data);
                $("#editPayrollStatus_modal").modal("show");

            },
            error: function () {
                alert(data.ErrorMessage);
            }
        });
    }
    function SaveEditTaxStatus(obj) {
        $.ajax({
            type: "POST",
            url: '/PayrollTaxManagement/SaveEditTaxStatus',
            data: JSON.stringify(obj),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                if (data.status == "Success") {
                    debugger;
                    $("#editPayrollStatus_modal").modal("hide");
                    showAlertAutoHide("", data.status, data.message);
                    //getPayrollList();
                    var statusElement = "#";
                    if (obj.StatusTypeId == 0)
                        statusElement += "spanFedTaxSt_" + obj.PayrollId;
                    else if (obj.StatusTypeId == 1)
                        statusElement += "spanHacTaxSt_" + obj.PayrollId;
                    else if (obj.StatusTypeId == 2)
                        statusElement += "spanFUTATaxSt_" + obj.PayrollId;

                    $(statusElement).text(data.retVal);
                    $(statusElement).removeClass("pendingStsCls").removeClass("paidStsCls");
                    debugger;
                    switch (data.retStatusId) {
                        case 1:
                            $(statusElement).addClass("pendingStsCls");
                            break;
                        case 2:
                            $(statusElement).addClass("paidStsCls");
                            break;
                    }
                }
                else {
                    showAlertAutoHide("", data.status, data.message);
                }
            },
            error: function () {
                showAlertAutoHide("", "Error", data.ErrorMessage);
            }
        });
    }
    function AjaxUploadFile(payrollId, reportTypeId) {
        debugger;
        $.ajax({
            type: "get",
            url: '/PayrollTaxManagement/AjaxUploadReportFile',
            data: { "payrollId": payrollId, "reportTypeId": reportTypeId },

            success: function (data) {
                // debugger;
                //console.log(data);
                $("#divEditUploadPopup").html(data);
                $("#uploadReport_modal").modal("show");

            },
            error: function () {
                alert(data.ErrorMessage);
            }
        });
    }

    function uploadReportFile(obj) {
        debugger;
        var formData = new FormData();
        formData.append("PayrollId", obj.PayrollId);
        formData.append("ReportTypeId", obj.ReportTypeId);
        formData.append("ReportFile", obj.ReportFile);
        $.ajax({
            type: "POST",
            url: '/PayrollTaxManagement/UploadReportFile',
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (data) {
                // debugger;
                if (data.status == "Success") {
                    showAlertAutoHide("", data.status, data.message);
                    $("#uploadReport_modal").modal("hide");
                    var rptStatus = "#";
                    var rptDownload = "#";
                    if (obj.ReportTypeId == 0) {
                        rptStatus += "spanSumRpt_" + obj.PayrollId;
                        rptDownload += "downloadSumRpt_" + obj.PayrollId;
                    }
                    else if (obj.ReportTypeId == 1) {
                        rptStatus += "spanFedRpt_" + obj.PayrollId;
                        rptDownload += "downloadFedRpt_" + obj.PayrollId;
                    }
                    else if (obj.ReportTypeId == 2) {
                        rptStatus += "spanHacRpt_" + obj.PayrollId;
                        rptDownload += "downloadHacRpt_" + obj.PayrollId;
                    }
                    else if (obj.ReportTypeId == 3) {
                        rptStatus += "spanFUTARpt_" + obj.PayrollId;
                        rptDownload += "downloadFUTARpt_" + obj.PayrollId;
                    }
                    $(rptStatus).text("Available");
                    $(rptDownload).removeClass("hideCls").addClass("showCls");
                }
                else {
                    showAlertAutoHide("", data.status, data.message);
                }
            },
            error: function (error) {
            }
        });

    }
    function downloadReportFile(payrollId, reportTypeId) {
        debugger;
        window.location.href = "/PayrollTaxManagement/DownloadReportFile?payrollId=" + payrollId + "&reportTypeId=" + reportTypeId;

    }
    function getPayrollTaxesDetail(id) {

        debugger;
        $.ajax({
            type: "get",
            url: '/PayrollTaxManagement/Details',
            data: {
                "id": id },

            success: function (data) {
                // debugger;
                //console.log(data);
                $("#divEditUploadPopup").html(data);
                $("#payrollTaxesDetail_modal").modal("show");

            },
            error: function () {
                alert(data.ErrorMessage);
            }
        });

    }
   
</script>
