@model TimeAide.Web.Models.UserInformation

@{
    ViewBag.Label = "User";
}
<div id="applicationUserDelete_modal" class="modal custom-modal">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            @Html.Partial("_DeleteViewHeader")
            
            <div class="modal-body pt-0">

                @Html.HiddenFor(model => model.Id, new { id = "UserInformationDeleteId" })
                @Html.HiddenFor(model => model.LoginEmail)
                <div class="form-group row">
                    <div class="panel panel-default" style="width:100%;margin-left:10px">
                        <div class="panel-heading" style="padding-left:10px">User</div>
                        <div class="panel-body">
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" style="margin-left:10px">
                                    User Name:
                                </label>
                                <div class="col-md-8 text-muted mt-2">
                                    <span id=""> @Html.DisplayFor(model => model.FullUserName)</span>
                                </div>

                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" style="margin-left:10px">
                                    Login Email:
                                </label>
                                <div class="col-md-8 text-muted mt-2">
                                    <span id=""> @Html.DisplayFor(model => model.LoginEmail)</span>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="submit-section mt-1">

                    <button id="btnDeleteApplicationUser" class="btn btn-danger submit-btn">Delete</button>
                    <button id="btnCancel" class="btn btn-danger submit-btn" data-dismiss="modal" aria-label="Close">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#btnDeleteApplicationUser").click(function () {
            var id = $("#UserInformationDeleteId").val();
            var loginEmail = $("#LoginEmail").val();
            deleteApplicationUser(id,loginEmail);
        })

    } );
</script>

