
@using TimeAide.Web.Models
@model TimeAide.Web.Models.LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <title>Login</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/Themes/assets/img/favicon.png">


    @Styles.Render("~/Content/css")


</head>
<body class="account-page">
    <!-- Main Wrapper -->
    <div class="main-wrapper">
        <div class="account-content">
            <div class="container" >
                <!-- Account Logo -->
                <div class="account-logo">
                    <a href=""><img src="@ViewBag.LogoPath" alt="Time Aide"></a>
                </div>
                <!-- /Account Logo -->
                <div class="account-box" style="background-color:ghostwhite">
                    <div class="account-wrapper">
                        <h3 class="account-title">Login</h3>
                        <p class="account-subtitle" style="color:red;">Payroll Portal</p>
                        <!-- Account Form -->

                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @*<label>Email Address</label>
                                    <input class="form-control" type="text">*@
                                @Html.LabelFor(m => m.Email)
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password)
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                               @* @Html.ActionLink("Forgot your password?", "ForgotPassword")*@
                            </div>

                            <div class="form-group text-center">
                                <button class="btn btn-primary account-btn" type="submit">Login</button>
                            </div>

                        }

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>


@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/bootstrap-theme")

    <style>
        .account-box .account-btn {
           background: linear-gradient(to right, #00c5fb 0%, #3d9c74 100%);
        }
            div .well {
            height: 250px;
        }

        .form-group {
            margin-bottom: 10px;
        }

        .Absolute-Center {
            margin: auto;
            /*position: absolute;*/
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }

            .Absolute-Center.is-Responsive {
                width: 50%;
                height: 50%;
                min-width: 200px;
                max-width: 400px;
                padding: 40px;
            }

        #logo-container {
            margin: auto;
            margin-bottom: 10px;
            width: 200px;
            height: 30px;
            background-image: url('http://placehold.it/200x30/000000/ffffff/&text=BRAND+LOGO');
        }
</style>
}
